.sidebar {
  cursor: pointer;
  margin: 0 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.sidebar div {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sidebar div::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
}
.sidebar div > svg {
  width: 50%;
  height: 50%;
}
.sidebar div:nth-child(1)::before {
  background: radial-gradient(#CA4EFF, #eab8ff 100%);
  box-shadow: 0 0 30px 5px #eab8ff;
  opacity: 0;
  transition: all 0.3s ease;
}
.sidebar div:nth-child(1) svg {
  color: #CA4EFF;
  stroke: #CA4EFF;
  fill: #CA4EFF;
  filter: brightness(80%) drop-shadow(0 0 10px #CA4EFF);
  transition: all 0.3s ease;
}
.sidebar .glow:nth-child(1)::before {
  opacity: 1;
}
.sidebar .glow:nth-child(1) svg {
  filter: hue-rotate(20deg) brightness(60%);
}
.sidebar div:nth-child(2)::before {
  background: radial-gradient(#3553FF, #aebaff 100%);
  box-shadow: 0 0 30px 5px #aebaff;
  opacity: 0;
  transition: all 0.3s ease;
}
.sidebar div:nth-child(2) svg {
  color: #3553FF;
  stroke: #3553FF;
  fill: #3553FF;
  filter: brightness(80%) drop-shadow(0 0 10px #3553FF);
  transition: all 0.3s ease;
}
.sidebar .glow:nth-child(2)::before {
  opacity: 1;
}
.sidebar .glow:nth-child(2) svg {
  filter: hue-rotate(20deg) brightness(60%);
}
.sidebar div:nth-child(3)::before {
  background: radial-gradient(#2FF8FF, #acfcff 100%);
  box-shadow: 0 0 30px 5px #acfcff;
  opacity: 0;
  transition: all 0.3s ease;
}
.sidebar div:nth-child(3) svg {
  color: #2FF8FF;
  stroke: #2FF8FF;
  fill: #2FF8FF;
  filter: brightness(80%) drop-shadow(0 0 10px #2FF8FF);
  transition: all 0.3s ease;
}
.sidebar .glow:nth-child(3)::before {
  opacity: 1;
}
.sidebar .glow:nth-child(3) svg {
  filter: hue-rotate(20deg) brightness(60%);
}
.sidebar div:nth-child(4)::before {
  background: radial-gradient(#7BFF4B, #caffb7 100%);
  box-shadow: 0 0 30px 5px #caffb7;
  opacity: 0;
  transition: all 0.3s ease;
}
.sidebar div:nth-child(4) svg {
  color: #7BFF4B;
  stroke: #7BFF4B;
  fill: #7BFF4B;
  filter: brightness(80%) drop-shadow(0 0 10px #7BFF4B);
  transition: all 0.3s ease;
}
.sidebar .glow:nth-child(4)::before {
  opacity: 1;
}
.sidebar .glow:nth-child(4) svg {
  filter: hue-rotate(20deg) brightness(60%);
}
.sidebar div:nth-child(5)::before {
  background: radial-gradient(#FFE250, #fff3b9 100%);
  box-shadow: 0 0 30px 5px #fff3b9;
  opacity: 0;
  transition: all 0.3s ease;
}
.sidebar div:nth-child(5) svg {
  color: #FFE250;
  stroke: #FFE250;
  fill: #FFE250;
  filter: brightness(80%) drop-shadow(0 0 10px #FFE250);
  transition: all 0.3s ease;
}
.sidebar .glow:nth-child(5)::before {
  opacity: 1;
}
.sidebar .glow:nth-child(5) svg {
  filter: hue-rotate(20deg) brightness(60%);
}
.sidebar div:nth-child(6)::before {
  background: radial-gradient(#FF5B0F, #ffbd9f 100%);
  box-shadow: 0 0 30px 5px #ffbd9f;
  opacity: 0;
  transition: all 0.3s ease;
}
.sidebar div:nth-child(6) svg {
  color: #FF5B0F;
  stroke: #FF5B0F;
  fill: #FF5B0F;
  filter: brightness(80%) drop-shadow(0 0 10px #FF5B0F);
  transition: all 0.3s ease;
}
.sidebar .glow:nth-child(6)::before {
  opacity: 1;
}
.sidebar .glow:nth-child(6) svg {
  filter: hue-rotate(20deg) brightness(60%);
}
.sidebar div:nth-child(7)::before {
  background: radial-gradient(#FF4141, #ffb3b3 100%);
  box-shadow: 0 0 30px 5px #ffb3b3;
  opacity: 0;
  transition: all 0.3s ease;
}
.sidebar div:nth-child(7) svg {
  color: #FF4141;
  stroke: #FF4141;
  fill: #FF4141;
  filter: brightness(80%) drop-shadow(0 0 10px #FF4141);
  transition: all 0.3s ease;
}
.sidebar .glow:nth-child(7)::before {
  opacity: 1;
}
.sidebar .glow:nth-child(7) svg {
  filter: hue-rotate(20deg) brightness(60%);
}/*# sourceMappingURL=sidebar.css.map */